.register-main-container{
    display: flex;
    justify-content: center;
}

.register-mid-container{
    border-radius: 25px;
    border:1px solid lightgray;
    padding: 20px; 
    width: 410px;
    height: 720px;
    padding: 20px; 
}